@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Rochester&display=swap');

/* general styles */

html {
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,1) 4%, rgba(127,200,248,1) 50%, rgba(255,255,255,1) 98%);
    }
}

body {
font-family: 'DM Sans', sans-serif;
font-size: 18px;
}

h1, h2, h3 {
    font-family: 'Rochester', cursive, sans-serif;
}

/* header */

h1 {
    font-size: 4.5rem;
}

/* first section */

.main img {
   transform:scaleX(-1);
}

.btn {
    font-weight: bold;
}

/* modal */
.modal-header {
    border-bottom: none;
}

.modal h1 {
    font-size: 2.5rem;
}

.modal-header img {
   width: 150px;
}

.modal-body {
    padding-bottom: 0;
}

.modal-body > div > section {
    width: 80%;
}

.modal-body > div > section > img {
    width: 20%;
}

.modal-footer {
    border-top: none;
    padding-top: 0;
}

/* results */
.offscreen 
{
    position: absolute;
    left: -99999px;

}

.onscreen 
{
    position: absolute;
    top: 30vh;
    left: 0;
}

#nice, #naughty {
    height: 100vh;  
    padding: 0 20%;  
}

#nice h2, #naughty h2{
    font-size: 4rem;
}

