@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');

h1, h2, h3 {
    font-family: 'Rochester', cursive, sans-serif;
}

.progress {
    transition: all eas;
}










