@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');

.santa h1, .santa h2, .santa h3 {
    font-family: 'Rochester', cursive, sans-serif;
}














