@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');

h1, h2, h3 {
    font-family: 'Rochester', cursive, sans-serif;
}

.progress, .progress-bar, #nice, #naughty {
    visibility: hidden;
    transition: visibility ease-in 0.5s;
}



s;


s;


s;





