@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Rochester&display=swap');


body {


font-family: 'DM Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Rochester', cursive, sans-serif;
}

/* background */
body {
background: rgb(168,224,248);
background: radial-gradient(circle, rgba(168,224,248,1) 4%, rgba(88,176,214,1) 98%);
}













