@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Rochester&display=swap');

/* general styles */

body {
font-family: 'DM Sans', sans-serif;
font-size: 18px;
}

h1, h2, h3 {
    font-family: 'Rochester', cursive, sans-serif;
}

a {
    text-decoration: none;
    color:
}

/* header */

h1 {
    font-size: 4.5rem;
}

/* first section */

main > div {
    background: hsla(0, 0%, 100%, 1);
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 1) 0%, hsla(205, 94%, 94%, 1) 40%, hsla(205, 94%, 94%, 1) 65%, hsla(0, 0%, 100%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(0, 0%, 100%, 1) 0%, hsla(205, 94%, 94%, 1) 40%, hsla(205, 94%, 94%, 1) 65%, hsla(0, 0%, 100%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(0, 0%, 100%, 1) 0%, hsla(205, 94%, 94%, 1) 40%, hsla(205, 94%, 94%, 1) 65%, hsla(0, 0%, 100%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFFFFF", endColorstr="#E1F2FE", GradientType=1 );
    /* created using coolors.co gradient generator */
}



.main img {
   transform:scaleX(-1);
}

.btn {
    font-weight: bold;
}

/* modal */
.modal-header {
    border-bottom: none;
}

.modal h1 {
    font-size: 2.5rem;
}

.modal-header img {
   width: 150px;
}

.modal-body {
    padding-bottom: 0;
}

.modal-body > div > section {
    width: 80%;
}

.modal-body > div > section > img {
    width: 20%;
}

.modal-footer {
    border-top: none;
    padding-top: 0;
}

/* results */
.offscreen 
{
    position: absolute;
    left: -99999px;

}

.onscreen 
{
    position: absolute;
    top: 30vh;
    left: 0;
}

#nice, #naughty {
    height: 100vh;  
    padding: 0 20%;  
}

#nice h2, #naughty h2{
    font-size: 4rem;
}

/* footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
};    

